html
  head
    title= message
    script(src="/static/javascripts/validator.min.js")
    script.
      function validar(){
        const descricao = formulario.descricao.value;
        if(validator.isEmpty(descricao)){
          alert("Campo descricao vazio!")
          return false
        }
      }      
  body
    h1= message
    form(method ="post", action="/editar/veiculo/"+veiculos.id)
      label(for="modelo") Modelos
      select(id="modelo" name="id_modelo")
        each modelo, index in veiculos.modelos
          option(value=modelo.id) #{modelo.descricao}
            each modelo, index in modelos
              option(value=modelo.id) #{modelo.descricao}
      br
      label(for="cor") Cores
      select(id="cor", name="id_cor")
        each cor, index in veiculos.cores
          option(value= cor.id) #{cor.descricao}
            each cor, index in cores
                option(value= cor.id) #{cor.descricao}
      br
      label(for="combustivel") Combustiveis
      select(id="combustivel", name="id_combustivel") 
        each combustivel, index in veiculos.combustiveis
          option(value= combustivel.id) #{combustivel.descricao}
            each combustivel, index in combustiveis
                option(value= combustivel.id) #{combustivel.descricao}     
      br
      label(for="propriedade") Propriedades
      select(id="propriedade", name="id_propriedade")
        each propriedade, index in veiculos.propriedades
          option(value= propriedade.id) #{propriedade.descricao}
            each propriedade, index in propridades
                option(value= propriedade.id) #{propriedade.descricao}
      br 
      label(for="status") Status
      select(id="status", name="id_status")
        each stat, index in veiculos.statuses
          option(value= stat.id) #{stat.descricao}
            each stat, index in status         
              option(value= stat.id) #{stat.descricao}
      br
      
      label(for="placa") Placa
      input(id="placa", type="text", name="placa" value=veiculos.placa)
      br
      label(for="qtd_max_pass") Capacidade máxima
      input(id="qtd_max_pass", type="text", name="qtd_max_pass", value=veiculos.qtd_max_pass)
      br
      
      label(for="ano_modelo") Ano do modelo
      input(id="ano_modelo", type="text", name="ano_modelo", value=veiculos.ano_modelo)
      br
      
      label(for="ano_fabricacao") Ano de fabricação
      input(id="ano_fabricacao", type="text", name="ano_fabricacao", value=veiculos.ano_fabricacao)
      br
      
      label(for="descricao") Descrição
      input(id="descricao", type="text", name="descricao", value=veiculos.descricao)
      input(type="submit", value="save")
