html
Node Template Engine
  head
    title= message
      
  body
    h1= message
    table(border="1")
      tbody
        th descricao
        th placa
        th qtd_max_pass
        th qtd_max_pass
        th ano_fabricacao
        th id_modelo
        th id_cor
        th id_combustivel
        th id_propriedade
        th id_status
    
      tbody
        each veiculo, index in veiculos
          td #{veiculo.descricao}
          td #{veiculo.placa}
          td #{veiculo.qtd_max_pass}
          td #{veiculo.qtd_max_pass}
          td #{veiculo.ano_fabricacao}
          each modelos, index in veiculo.modelos
            td #{modelos.descricao}
          each cores, index in veiculo.cores
            td #{cores.descricao}
          each combustiveis, index in veiculo.combustiveis
            td #{combustiveis.descricao}
          each propriedades, index in veiculo.propriedades
            td #{propriedades.descricao}
          each status, index in veiculo.statuses
            td #{status.descricao}
