html
  head
    title= message
      
  body
    h1= message
    table(border="1")
      tbody
        th Descricao
        th Placa
        th Capacidade máxima
        th Ano do modelo
        th Ano de Fabricaçãp
        th Modelo
        th Cor
        th Combustível
        th Propriedade
        th Status
    
      tbody
        each veiculo, index in veiculos
          td #{veiculo.descricao}
          td #{veiculo.placa}
          td #{veiculo.qtd_max_pass}
          td #{veiculo.ano_modelo}
          td #{veiculo.ano_fabricacao}
          each modelos, index in veiculo.modelos
            td #{modelos.descricao}
          each cores, index in veiculo.cores
            td #{cores.descricao}
          each combustiveis, index in veiculo.combustiveis
            td #{combustiveis.descricao}
          each propriedades, index in veiculo.propriedades
            td #{propriedades.descricao}
          each status, index in veiculo.statuses
            td #{status.descricao}
          td: a(href="/editar/veiculo/"+veiculo.id) Editar
          td: a(href="/excluir/veiculo/"+veiculo.id) Excluir
